body{
  background-color: #FFFFFF;
  color: #334C80;
  font-family: Arial;
  margin-left:25px;
  margin-top:25px;
}
.header{
  display:inline-block;
}
#pfcc{
text-align: center;
margin: 20px;
text-align:middle;
}
table{
  width:1000px;
  border: solid 4px #334C80;
}
#bio{
  background-color:  #E0EBFF;
}
th{
  font-size:20px;
}
td{
  margin:5px, 5px, 5px, 5px;
}
.odd{
  background-color: #E0EBFF;
}
.even{
  background-color:	#C2D6FF;
}
.heading{
  background-color: #85ADFF;
}
a{
  color: #334C80;
}
a:hover {
  color: #334C80;
  font-weight: bold;
  text-decoration: none;
}
a:visited{
  color: #6684C2;

}
.toggle{
  height: 40 px;
  width: 200 px;
  margin-left: 10px;
  border-radius:5px;
  background-color: steelblue;
  color: white;
}
